textarea.input-lg{
  text-align:center;
  font-size:30px;
}

div#header{
  text-align:center;
  margin-top:10px;
}

hr{
  margin:5px;
  margin-bottom:15px;
}

div.thumbnail{
  width:70px;
  height:70px;
}

tr, td{
  vertical-align:middle;
  text-align:left;
  font-size:15px;
}

td#comment{
  font-size:13px;
}

div.media-body{
  text-align:left;
}

td.name{
  width:80px;
}

td.comment{
  width:600px;
}

td.recommend{
  width:60px;
}

td.opposite{
  width:60px;
}

td.delete{
  width:60px;
}

td.time-check{
  width:60px;
}

td.image{
  width:50px;
  height:50px;
}

tbody{
  border-bottom-style:inset;
}

div#image-call.col-sm-4.input-column{
  display:table-column;
  table-layout:auto;
  width:300px;
}

img#profile-image{
  /*float:left;*/
  /*display:block;*/
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}

button#image-search.btn.btn-default{
  float:right;
}

body{
  position:relative;
  align-content:center;
}

div#comment-register-button{
  margin:auto;
  text-align:left;
}

label#comment-register{
  font-size:30px;
  margin-left:100px;
}

textarea#comment-register-box{
  width:300px;
  height:200px;
}

button.btn.btn-default{
  margin-left:20px;
  margin-right:20px;
}

h2.text-center{
  text-align:center;
}

input#password-input.form-control{
  float:none;
}

input#login-name-input.form-control{
  float:none;
}

form#login-form.bootstrap-form-with-validation{
  width:250px;
  margin-left:20px;
}

div.comment-div{
  margin-left:20px;
}


div#comment-register-button.commnet-div{
  margin-left:20px;
}

div#login-button{
  float:left;
}

button.btn.btn-default.login-button{
  float:left;
}

div#login-div-button{
  margin-left:30px;
}

button.btn.btn-default.comment-button{
  margin-left:40px;
  margin-right:40px;
}

li#nav-login-display{
  margin-top: 10px;
  margin-left: 10px;
}

.pagination>option>li{display:inline}
.pagination>option>li>a,.pagination>li>span{
  position:relative;
  float:left;
  padding:8px 12px;
  line-height:1.42857143;
  text-decoration:none;
  color:#444444;
  background-color:#ffffff;
  border:1px solid #dddddd;
  margin-left:-1px}
.pagination>option>li:first-child>a,.pagination>option>li:first-child>span{
  margin-left:0;border-bottom-left-radius:4px;
  border-top-left-radius:4px}
.pagination>option>li:last-child>a,.pagination>option>li:last-child>span{
  border-bottom-right-radius:4px;
  border-top-right-radius:4px}
.pagination>option>li>a:hover,.pagination>option>li>span:hover,.pagination>option>li>a:focus,.pagination>option>li>span:focus{
  z-index:2;color:#ffffff;
  background-color:#d9230f;
  border-color:#d9230f}
.pagination>option>.active>a,.pagination>option>.active>span,.pagination>option>.active>a:hover,
.pagination>option>.active>span:hover,.pagination>option>.active>a:focus,.pagination>option>.active>span:focus{
  z-index:3;color:#ffffff;
  background-color:#d9230f;
  border-color:#d9230f;
  cursor:default}
.pagination>option>.disabled>span,.pagination>option>.disabled>span:hover,.pagination>option>.disabled>span:focus,.pagination>
.disabled>option>a,.pagination>option>.disabled>a:hover,.pagination>option>.disabled>a:focus{
  color:#dddddd;
  background-color:#ffffff;
  border-color:#dddddd;
  cursor:not-allowed}


/* imaged preview */
.filebox .upload-display {  /* 이미지가 표시될 지역 */
  margin-bottom: 5px;
}

@media(min-width: 768px) {
  .filebox .upload-display {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 0;
  }
}

.filebox .upload-thumb-wrap {  /* 추가될 이미지를 감싸는 요소 */
  margin-left: 10px;
  display: inline-block;
  width: 100px;
  padding: 2px;
  vertical-align: middle;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}

.filebox .upload-display img {  /* 추가될 이미지 */
  display: block;
  max-width: 100%;
  width: 100% \9;
  height: auto;
}

#modal_content{
  display:none;
  margin:auto;
  width:320px;
  height:330px;
  background:whitesmoke;
  color:#fff}