<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" context="width=device-width, initial-scale=1.0"/>
    <title>LastProject</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="assets/css/styles.css"/>
    <link rel="stylesheet" href="assets/css/Pretty-Registration-Form.css"/>
</head>

<body>
    <input type="hidden" id="userComparable" th:value="${user.userId}"/>
    <ul class="nav nav-tabs">
        <li id="nav-login-display" th:text="${user.name}+'('+${user.description}+')'"></li>
        <li id="nav-login-profile-change" ><a href="/register">프로필수정 </a></li>
        <li id="nav-login-logout" ><a href="/logout">로그아웃 </a></li>
        <li id="nav-login"><a href="javascript:loginOpen()" id="nav-login-href">로그인 </a></li>
        <div class="modal-content">
            <!-- remote ajax call이 되는영역 -->
        </div>
        <li><a href="javascript:writeOpen();"> 글쓰기</a></li>
    </ul>
    <div id="header">
        <textarea name="comment_main" rows="1" readonly="readonly" class="input-lg"> 댓 글 시 스 템 </textarea>
    </div>
    <hr/>

    <div class="rowmapper">
        <div>
            <table class="table">
                <tbody>
                    <tr class="comment_table" th:each="com : ${comment}">
                        <td class="image"><img th:src="${com.user.image}" width="50px" height="50px"/></td>
                        <td class="name">
                            <label th:text="${com.user.name}">이름 </label>
                        </td>
                        <td class="context" th:text="${com.context}">댓글 입력 장소입니다.</td>
                            <!--<input type="hidden" id="comment-writeId" th:text="${com.seqNum}" />-->
                        <td class="recommend">
                            <button class="btn btn-default recommend-button" type="button"
                                    th:text="${'추천('+com.recommend+')'}" th:onclick="'javacript:retrieveLike('+${com.seqNum}+')'">추천 </button>
                        </td>
                        <td class="opposite">
                            <button class="btn btn-default opposite-button" type="button"
                                    th:text="${'반대('+com.opposite+')'}" th:onclick="'javacript:retrieveUnlike('+${com.seqNum}+')'">반대 </button>
                        </td>
                        <td class="delete" th:with="condition = ${user.userId == com.user.userId}">
                            <form action="#" th:action="@{/comments/__${com.seqNum}__}" th:method="GET">
                                <button class="btn btn-default comment-delete-class" type="submit" th:if="${condition}">삭제</button>
                            </form>
                        </td>
                        <td class="time-check" id="dateTime" th:text="${com.currunt_time}">time </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <nav th:align="center">
        <ul class="pagination">
            <li><a aria-label="Previous"><span aria-hidden="true">«</span></a></li>
            <!--<option th:each="i : ${#numbers.sequence(1,__${pageNum}__)}">-->
                <!--<li><a th:text="${i}" th:onclick="'javacript:changePageNum('+${i}+')'"></a></li>-->
            <!--</option>-->
            <li><a th:onclick="'javacript:changePageNum(0)'">1</a></li>
            <li><a th:onclick="'javacript:changePageNum(1)'">2</a></li>
            <li><a th:onclick="'javacript:changePageNum(2)'">3</a></li>
            <li><a th:onclick="'javacript:changePageNum(3)'">4</a></li>
            <li><a th:onclick="'javacript:changePageNum(4)'">5</a></li>
            <li><a th:onclick="'javacript:changePageNum(5)'">6</a></li>
            <li><a th:onclick="'javacript:changePageNum(6)'">7</a></li>
            <li><a th:onclick="'javacript:changePageNum(7)'">8</a></li>
            <li><a th:onclick="'javacript:changePageNum(8)'">9</a></li>
            <li><a th:onclick="'javacript:changePageNum(9)'">10</a></li>
            <li><a aria-label="Next"><span aria-hidden="true">»</span></a></li>
        </ul>
    </nav>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/app.js"></script>
</body>

</html>